<div class="row">

    <div class="col-md-12">
        <div class="file-path-info breadcrumb">
            <span class="file-name">{{fileName}}</span><span class="file-path">{{path}}</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="vertical-scroll" data-scrollable id="term-grid">
            <div class="category-grid" ng-grid="categoryGrid">
            </div>
        </div>
        <!--<div class="vertical-scroll" data-scrollable id="histogram-list" data-offset="200" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">-->
            <!--<ul class="list-group terminology-list">-->
                <!--<li data-ng-repeat="entry in histogramVisible | filter:filterText" class="list-group-item clearfix test-class"-->
                    <!--data-ng-class="{ 'list-item-selected': entry.value ==  sourceEntry.value, 'list-item-mapped' : mappings[entry.sourceUri] }"-->
                    <!--data-ng-click="scrollTo({element: '#skos-term-list', direction: 'up'});selectSource(entry);">-->
                    <!--<span class="term">{{ entry.value }}</span>-->
                    <!--<span class="term-mapped" data-ng-show="mappings[entry.sourceUri].prefLabel">-->
                        <!--<i class="fa fa-link"></i> {{ mappings[entry.sourceUri].prefLabel }}-->
                    <!--</span>-->
                    <!--<span class="node-stats badge">{{ entry.count }}</span>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</div>-->

    </div>
    <!--<div class="col-md-8">-->
        <!--<h1>Categories:</h1>-->
        <!--<ul>-->
            <!--<li data-ng-repeat="category in categoryList.categories">-->
                <!--<span>{{ category.name }}: </span>-->
                <!--<span>{{ category.details }}</span>-->
            <!--</li>-->
        <!--</ul>-->
    <!--</div>-->

</div>


