<div class="page-header">
    <!-- page location, org -->
    <div class="meta">
        <div class="page">
            Category Monitor
        </div>
        <div class="organization">
            <span class="fa fa-institution"></span>
            <span>{{ orgId }}</span>
        </div>
    </div>
    <!-- page specifiction actions/tools -->
    <div class="actions">

    </div>
</div>


<div class="row">
    <div class="col-sm-4">
        <div class="widget">
            <div class="widget-header">
                Spreadsheets
                <button type="button" class="btn btn-default btn-sm pull-right"  data-ng-click="gatherCategoryCounts()" data-ng-disabled="datasetBusy">
                    <i class="fa fa-leaf"></i>
                    <span><b>Generate new spreadsheet</b></span>
                </button>
            </div>
            <div class="widget-body">
                <ul class="list-unstyled">
                    <li ng-repeat="sheet in sheets">
                        <a ng-href="{{ sheetUrl(sheet) }}" target="_blank">
                            <i class="fa fa-download"></i> {{ sheet }}
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="widget">
            <div class="widget-header"><b>Monitored Datasets</b></div>
            <div class="widget-body">
                <div class="row">
                    <div class="col-md-6" ng-repeat="dataset in datasets" >
                        <div class="panel panel-primary" data-ng-include="'category-dataset-entry.html'">entry</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="category-dataset-entry.html">
    <div class="panel-heading">
        <span>
            <i class="fa fa-fw fa-cube"></i>
            <span>{{ dataset.datasetSpec }}</span>
        </span>
        <span data-ng-show="dataset.processedValid" class="pull-right">{{ dataset.processedValid }}/{{ dataset.datasetRecordCount }}</span>
    </div>
    <div class="panel-body" data-ng-if="dataset.progress" >
        <progressbar class="progress-striped active" animate="true" value="dataset.progress.count" max="100" type="success">
            {{ dataset.progress.message }}
        </progressbar>
    </div>
</script>
