<div class="row">
    <div class="col-md-12">
        <div class="file-path-info breadcrumb">
            <span class="file-name">{{fileName}}</span><span class="file-path">{{path}}</span>
        </div>
    </div>
    <div class="col-md-12">
        <div class="btn-toolbar">
            <button class="btn " data-ng-class="{ 'btn-success': visible[category.code] == true }"
                    data-ng-repeat="category in categories" data-ng-click="toggleCategory(category.code)">
                <b>{{ category.code }}</b>
            </button>
        </div>
    </div>
    <div class="col-md-12">
        <div class="col-md-4" style="text-align: right; margin-bottom: 15px">
            <b>{{ categoryHelp.code.toUpperCase() }}:</b>
        </div>
        <div class="col-md-8">
            {{ categoryHelp.details }}
        </div>
    </div>
    <div class="col-md-12">
        <div class="vertical-scroll" data-scrollable id="term-grid">
            <div class="category-grid" ng-grid="categoryGrid">
            </div>
        </div>
    </div>
</div>


