<div ng-include="'/narthex/assets/templates/parts.html'"></div>

<div class="row">
    <div class="col-sm-12">
        <div class="tabbable">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist">
                <li ng-class="{'active':activeTab === 'files'}">
                    <a href role="tab" data-ng-click="setActiveTab('files')">Files</a>
                </li>
                <li ng-class="{'active':activeTab === 'sips'}">
                    <a href role="tab" data-ng-click="setActiveTab('sips')">SIPs</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div ng-switch="activeTab">
                    <div ng-switch-when="files" class="file-list">
                        <div data-ng-include="'file-list.html'">file list</div>
                        <center>
                            <div data-ng-show="!newFileOpen">
                                <button type="button" class="btn btn-xs btn-success" data-ng-click="newFileOpen = true">
                                    <span>New File</span>
                                </button>
                            </div>
                            <div data-ng-show="newFileOpen">
                                <button type="button" class="btn btn-xs btn-success col-sm-12" data-ng-click="newFileOpen = false">
                                    <span>New File</span>
                                </button>
                                <div data-ng-include="'new-file.html'">new file</div>
                            </div>
                        </center>
                    </div>
                    <div ng-switch-when="sips">
                        <div data-ng-include="'sip-list.html'">
                            <!--todo: why can sip-list.html not be moved to parts.html, like the others?-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="fade" ng-file-drop-available="setDropSupported()" ng-show="!dropSupported">
    <h4>HTML5 Drop File is not supported! You need an HTML5 compliant browser.</h4>
</div>

<script type="text/ng-template" id="new-file.html">
    <div  class="col-sm-6">
        <form name="form" class="form well">
            <fieldset>
                <div class="form-group">
                    <label for="new-name">Dataset Name</label>
                    <input id="new-name" class="form-control" data-ng-model="dataset.name"
                           placeholder="name" required autofocus/>
                </div>
                <div class="form-group">
                    <label for="new-prefix">Metadata Prefix</label>
                    <input id="new-prefix" class="form-control" data-ng-model="dataset.prefix"
                           placeholder="prefix" required/>
                </div>
                <hr/>
                <div class="form-group">
                    <span typ="button" class="btn btn-lg btn-success" data-ng-class="{ 'disabled': !dataset.validFileName }" data-ng-click="createDataset()">
                        <i class="fa fa-plus"></i> <span>Create</span>
                        <span>"{{ dataset.fileName }}"</span>
                    </span>
                </div>
            </fieldset>
        </form>
    </div>
    <div class="col-sm-6">
        <div data-ng-include="'drop-file.html'" ng-show="dropSupported">
            <!--todo: why can drop-file.html not be moved to parts.html, like the others?-->
        </div>
    </div>
</script>

<script type="text/ng-template" id="acquire.html">
    <div data-ng-include="'drop-file.html'" ng-show="dropSupported">
        <!--todo: why can drop-file.html not be moved to parts.html, like the others?-->
    </div>
    <div data-ng-include="'harvest-form.html'">harvest form</div>
</script>

<script type="text/ng-template" id="drop-file.html">
    <h3>Drag &amp; Drop</h3>
    <div class="file-drop well" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-drop-over">
        <h6>Drag and drop your xml source file into this area</h6>

        <div class="img-holder" data-ng-show="uploading">
            <img src="/narthex/assets/images/narthex-blue.png"/>
            <i class="busy1 fa fa-gear fa-spin fa-5x"></i>
            <i class="busy2 fa fa-gear fa-spin-left fa-4x"></i>
            <i class="busy3 fa fa-gear fa-spin-left fa-5x"></i>
        </div>
        <div class="img-holder" data-ng-show="!uploading">
            <img src="/narthex/assets/images/narthex-blue.png"/>
        </div>
        <div data-ng-if="percent">
            <progressbar class="progress-striped active" animate="true" value="percent" max="100" type="success">
                <b>{{percent}}%</b>
            </progressbar>
        </div>
    </div>
</script>

<script type="text/ng-template" id="harvest-form.html">
    <h3>Harvest from Server</h3>
    <form name="form" class="form well">
        <fieldset>
            <div class="form-group">
                <label for="pmh_name">Harvest Server Type</label>

                <div id="harvest_type" class="form-control">
                    <input type="radio" ng-model="harvest.harvestType" value="pmh"> <span>OAI-PMH</span>
                    <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <input type="radio" ng-model="harvest.harvestType" value="adlib"> <span>AdLib API</span>
                </div>
            </div>
            <div class="form-group">
                <label for="pmh_name">New Dataset Name</label>
                <input id="pmh_name" class="form-control" data-ng-model="harvest.name" placeholder="name" required
                       autofocus/>
            </div>
            <div class="form-group">
                <label for="pmh_prefix">Metadata Prefix</label>
                <input id="pmh_prefix" class="form-control" data-ng-model="harvest.prefix" placeholder="prefix"
                       required/>
            </div>
            <div class="form-group">
                <label for="pmh_url">Server URL</label>
                <input id="pmh_url" class="form-control" data-ng-model="harvest.url" placeholder="http://..." required/>
            </div>
            <div class="form-group">
                <label for="pmh_set">Server Dataset</label>
                <input id="pmh_set" class="form-control" data-ng-model="harvest.dataset" placeholder="dataset"/>
            </div>
            <button typ="button" class="pull-right btn btn-success btn-xs" data-ng-click="startHarvest()">
                <i class="fa fa-refresh"></i> <span>Harvest</span>
                <span data-ng-show="harvest.harvestType == 'pmh'">from OAI-PMH</span>
                <span data-ng-show="harvest.harvestType == 'adlib'">from AdLib</span>
                <span>to "{{ harvest.fileName }}"</span>
            </button>
        </fieldset>
    </form>
</script>


<script type="text/ng-template" id="sip-list.html">
    <ul class="list-group file-list">
        <li class="list-group-item" data-ng-repeat="file in sipFiles">
            <i class="fa fa-cube"></i>
            <span data-ng-show="file.details">
                <b>{{ file.details.spec }}</b>
                <button type="button" class="btn btn-danger btn-xs" data-ng-show="file.expendable"
                        data-ng-click="deleteSipZip(file)"><i class="fa fa-trash-o"></i>
                </button>
                <span class="pull-right">
                    <i class="fa fa-male"></i>
                    <b>{{ file.details.uploadedBy }}</b>
                    <i class="fa fa-clock-o"></i>
                    {{ file.details.date | date:"yyyy-MM-dd HH:mm:ss" }}
                </span>
            </span>
            <span data-ng-show="!file.details">
              <b>{{ file.fileName }}</b>
            </span>
        </li>
    </ul>
</script>

<script type="text/ng-template" id="file-list.html">
    <ul class="list-group">
        <li ng-repeat="file in files" class="list-group-item clearfix"
            data-ng-show="file.info.status">
            <div ng-switch="file.info.status.state">

                <div ng-switch-when="state-empty">
                    {{ file.name }} <span class="label label-info">Empty</span>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate"
                            data-ng-click="revertToState(file, 'state-deleted', 'Delete dataset?')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                </div>

                <div ng-switch-when="state-harvesting">
                    {{ file.name }} <span class="label label-warning">Harvesting</span>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate" data-ng-show="file.staleStatus"
                            data-ng-click="revertToState(file, 'state-empty')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                    <div data-ng-include="'percent-progress.html'">%</div>
                </div>

                <div ng-switch-when="state-ready">
                    {{ file.name }} <span class="label label-success" data-ng-click="startAnalysis(file)">Ready: Split and Analyze</span>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate"
                            data-ng-click="revertToState(file, 'state-empty')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                </div>

                <div ng-switch-when="state-splitting">
                    {{ file.name }} <span class="label label-warning">Splitting</span>
                    <div data-ng-include="'percent-progress.html'">%</div>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate" data-ng-show="file.staleStatus"
                            data-ng-click="revertToState(file, 'state-ready')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                </div>

                <div ng-switch-when="state-analyzing">
                    <p>{{ file.name }} <span class="label label-success">Analyzing</span></p>
                    <code class="process">({{file.info.status.workers}} workers)</code>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate" data-ng-show="file.staleStatus"
                            data-ng-click="revertToState(file, 'state-ready')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                </div>

                <div ng-switch-when="state-analyzed">
                    <span>
                        <i class="fa fa-folder-open"></i>
                        <a href data-ng-click="viewFile(file)">{{ file.name }}</a>
                    </span>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate"
                            data-ng-click="revertToState(file, 'state-ready', 'Remove the analysis?')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                    <button typ="button" class="btn btn-success btn-xs"
                            data-ng-click="saveRecords(file)" data-ng-show="file.info.delimit.recordCount > 0">
                        <i class="fa fa-database"></i> Save Records
                    </button>
                </div>

                <div ng-switch-when="state-saving">
                    <a href data-ng-click="viewFile(file)">{{ file.name }}</a> <span
                        class="label label-info">Saving...</span>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate" data-ng-show="file.staleStatus"
                            data-ng-click="revertToState(file, 'state-analyzed')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                    <div data-ng-include="'percent-progress.html'">%</div>
                </div>

                <div ng-switch-when="state-saved">
                    <i class="fa fa-database fa-fw"></i>
                    <span data-ng-include="'dataset-extend-button.html'">button</span>
                    <button type="button" class="btn btn-xs pull-right btn-warning" data-ng-click="togglePublished(file)">
                        <span>Publish</span>
                    </button>
                    <div data-ng-include="'dataset-extended.html'" data-ng-show="file.showExtendedInfo">-extended-</div>
                </div>

                <div ng-switch-when="state-published">
                    <i class="fa fa-database fa-fw"></i>
                    <span data-ng-include="'dataset-extend-button.html'">button</span>
                    <button type="button" class="btn btn-xs pull-right btn-success" data-ng-click="togglePublished(file)">
                        <span>Published</span>
                    </button>
                    <div data-ng-include="'dataset-extended.html'" data-ng-show="file.showExtendedInfo">-extended-</div>
                </div>

                <div ng-switch-when="state-error">
                    {{ file.name }} <span class="label label-danger">Error!</span>
                    <button type="button" class="pull-right btn btn-danger btn-xs btn-isolate"
                            data-ng-click="revertToState(file, 'state-empty', 'Start again?')">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                    </button>
                    <div>
                        Error Message: {{ file.info.status.error }}
                    </div>
                </div>

                <span ng-switch-default>{{ file.name }}:UNKNOWN STATE {{ file.info.status }}!</span>
            </div>
        </li>
    </ul>
</script>

