<div class="alert alert-dismissable alert-warning" ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Dang! HTML5 Drop File is not supported!</h4>

    <p>Go get yourself an <a href="#" class="alert-link">HTML5 compliant browser</a>.</p>
</div>

<div class="row">
    <div class="col-sm-3">
        <div class="file-drop well" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-drop-over"
             ng-show="dropSupported">
            <h6>Drag and drop your xml source file into this area</h6>

            <div class="img-holder" data-ng-show="uploading">
                <img ng-src="/assets/images/narthex-blue.png"/>
                <i class="busy1 fa fa-gear fa-spin fa-5x"></i>
                <i class="busy2 fa fa-gear fa-spin-left fa-4x"></i>
                <i class="busy3 fa fa-gear fa-spin-left fa-5x"></i>
            </div>
            <div class="img-holder" data-ng-show="!uploading">
                <img ng-src="/assets/images/narthex-blue.png"/>
            </div>
            <div data-ng-if="percent">
                <progressbar class="progress-striped active" animate="true" value="percent" max="100" type="success">
                    <b>{{percent}}%</b>
                </progressbar>
            </div>
        </div>
    </div>
    <div class="col-sm-9">

        <div class="tabbable">
            <!-- Nav tabs -->
            <ul class="nav nav-pills" role="tablist" ng-init="list.active.tab = 'files'">
                <li ng-class="{'active':activeTab === 'files'}">
                    <a href role="tab" data-ng-click="setActiveTab('files')">Files</a>
                </li>
                <li ng-class="{'active':activeTab === 'sips'}">
                    <a href role="tab" data-ng-click="setActiveTab('sips')">SIPs</a>
                </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div ng-switch="activeTab">
                    <div ng-switch-when="files" class="file-list">
                        <ul class="list-group">
                            <li ng-repeat="file in files" class="list-group-item clearfix"
                                data-ng-show="file.status">
                                <div ng-switch="file.status.state">

                                    <!-- 1:SPLITTING -->
                                    <div ng-switch-when="1:splitting">
                                        {{ file.name }} <span class="label label-warning">Splitting</span>
                                        <progressbar class="progress-striped active" animate="true" value="file.status.percent"
                                                     max="100" type="success">
                                            {{file.status.percent}}%
                                        </progressbar>
                                    </div>

                                    <!-- 2:ANALYSING -->
                                    <div ng-switch-when="2:analyzing">
                                        <p>{{ file.name }} <span class="label label-success">Analyzing</span></p>
                                        <code class="process">({{file.status.workers}} workers)</code>
                                    </div>

                                    <!-- 3:ANALYZED -->
                                    <div ng-switch-when="3:analyzed">
                                        <i class="fa fa-folder-open"></i> <a href data-ng-click="viewFile(file)">{{ file.name }}</a>
                                        <div class="btn-toolbar pull-right">
                                            <button class="btn btn-success btn-xs" data-ng-click="saveRecords(file)" data-ng-show="file.delimit.recordCount > 0">
                                                <i class="fa fa-database"></i> Save Records
                                            </button>
                                            <button class="btn btn-danger btn-xs btn-isolate"
                                                    data-ng-click="deleteDataset(file)">&nbsp;<i class="fa fa-trash-o"></i>&nbsp;
                                            </button>
                                        </div>
                                    </div>

                                    <!-- 4:SAVING -->
                                    <div ng-switch-when="4:saving">
                                        <a href data-ng-click="viewFile(file)">{{ file.name }}</a> <span
                                            class="label label-info">Saving...</span>
                                        <progressbar class="progress-striped active" animate="true" value="file.status.percent"
                                                     max="100" type="success">
                                            {{file.status.percent}}%
                                        </progressbar>
                                    </div>

                                    <!-- 5:SAVED -->
                                    <div ng-switch-when="5:saved">
                                        <i class="fa fa-database fa-fw"></i>
                                        <a href class="btn btn-inverse btn-xs" data-ng-click="file.showExtendedInfo = !file.showExtendedInfo"> <span class="caret"></span> {{ file.name }} ({{ file.delimit.recordCount }})</a>
                                        <button class="btn btn-info btn-xs pull-right" data-ng-click="viewFile(file)">
                                            View Schema <i class="fa fa-folder-open"></i>
                                        </button>

                                        <div class="file-extended-info clearfix" data-ng-show="file.showExtendedInfo">
                                            <!-- todo: create a placeholder button for 'publish'-->
                                                    <h4 class="heading">Record info</h4>
                                                    <ul class="list-unstyled">
                                                        <li><b>Record Root</b>:<code class="path">{{ file.delimit.recordRoot }}</code></li>
                                                        <li><b>Unique ID</b>: <code class="path">{{ file.delimit.uniqueId }}</code></li>
                                                    </ul>

                                                <div class="" data-ng-show="file.namespaces">
                                                    <h4 class="heading">Namespace(s)</h4>
                                                    <ul class="list-unstyled">
                                                        <li data-ng-repeat="namespace in file.namespaces">
                                                            <b>{{ namespace.prefix }}</b> = "{{ namespace.uri }}"
                                                        </li>
                                                    </ul>
                                                </div>

                                            <div class="btn-toolbar">
                                                <a ng-href="{{file.apiMappings}}" target="_blank" class="btn btn-primary">
                                                    <i class="fa fa-download"></i> Download Terminology Mappings
                                                </a>
                                                <a ng-href="{{file.oaiPmhListRecords}}" target="_blank" class="btn btn-primary">
                                                    <i class="fa fa-download"></i> Download Records via OAI-PMH
                                                </a>
                                                <button class="btn btn-danger btn-isolate"
                                                        data-ng-click="deleteDataset(file)">Delete File <i class="fa fa-trash-o"></i>&nbsp;
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- UNKNOWN STATE -->
                                     <span ng-switch-default>UNKNOWN STATE {{ file.status.state }}!</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div ng-switch-when="sips" class="file-list">
                        <ul class="list-group">
                            <li class="list-group-item" data-ng-repeat="file in sipFiles">
                                <i class="fa fa-cube"></i>
                                <span data-ng-show="file.details">
                                  <b>{{ file.details.spec }}</b>
                                    <span class="pull-right">
                                        <i class="fa fa-male"></i>
                                        <b>{{ file.details.uploadedBy }}</b>
                                        <i class="fa fa-clock-o"></i>
                                        {{ file.details.date | date:"yyyy-MM-dd HH:mm:ss" }}
                                    </span>
                                </span>
                                <span data-ng-show="!file.details">
                                  <b>{{ file.fileName }}</b>
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

