<div class="home row clearfix">

    <div class="col-sm-6 col-sm-push-3" data-ng-if="!user">
        <h2>Login</h2>

        <form name="form" class="form well clearfix">
            <div class="img pull-left">
                <img src="/narthex/assets/images/narthex-blue.png" />
            </div>
            <fieldset>
                <div class="form-group">
                    <label for="username">Username</label>
                    <input id="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" required/><br/>
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input id="password" type="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" required autofocus/>
                </div>
                <br/>
                <button class="btn btn-primary pull-right" data-ng-disabled="form.$invalid" data-ng-click="login(credentials)">Log In</button>
            </fieldset>
            <div data-ng-show="errorMessage">
                <br/>
                <span class="badge badge-warning">{{ errorMessage }}</span>
            </div>
        </form>
    </div>

    <div class="col-sm-6 col-sm-push-3" data-ng-if="user">
        <div>
            <span class="fa fa-2x"><span class="label label-success fa-user"> "{{ user.username }}"</span></span>
            <span>(<a href="#" data-ng-click="logout()">Logout</a>)</span>
        </div>
        <hr/>
        <h4>Profile</h4>
        <form name="form" class="form well clearfix">
            <fieldset>
                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input id="firstName" class="form-control" data-ng-model="editedUser.firstName" placeholder="John"/>
                </div>
                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input id="lastName" class="form-control" data-ng-model="editedUser.lastName" placeholder="Smith"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" class="form-control" data-ng-model="editedUser.email" placeholder="john@smith.net"/>
                </div>
                <br/>
                <button class="btn btn-primary pull-right" data-ng-disabled="unchangedUser" data-ng-click="setProfile(editedUser)">Save</button>
            </fieldset>
            <div data-ng-show="errorMessage">
                <br/>
                <span class="badge badge-warning">{{ errorMessage }}</span>
            </div>
        </form>
        <h4>Create New Sub-Actor</h4>
        <form name="form" class="form well clearfix">
            <fieldset>
                <div class="form-group">
                    <label for="username2">Username</label>
                    <input id="username2" class="form-control" data-ng-model="newActor.username" placeholder="user" required/>
                </div>
                <div class="form-group">
                    <label for="password2">Password</label>
                    <input id="password2" type="password" class="form-control" data-ng-model="newActor.password" placeholder="" required/>
                </div>
                <br/>
                <button class="btn btn-primary pull-right" data-ng-disabled="" data-ng-click="addActor(newActor)">Create</button>
            </fieldset>
            <div data-ng-show="errorMessage">
                <br/>
                <span class="badge badge-warning">{{ errorMessage }}</span>
            </div>
        </form>
        <div data-ng-show="actorList.length">
            <h4>Sub-Actors</h4>
            <div data-ng-repeat="actor in actorList" class="well clearfix">
                <span class="label label-info fa"><span class="fa-user"/> "{{ actor }}"</span>
            </div>
        </div>
    </div>
</div>

