<div class="page-header">
    <!-- page location, org -->
    <div class="meta">
        <div class="page">
            SKOS Vocabularies
        </div>
        <div class="organization">
            <span class="fa fa-institution"></span>
            <span>{{ orgId }}</span>
        </div>
    </div>
    <div class="actions">
        <form class="form-inline">
            <div class="form-group">
                <a href class="btn btn-default pull-right" data-ng-click="newFileOpen = true"><i class="fa fa-star"></i> New Vocabulary</a>
            </div>
        </form>
    </div>
</div>

<div class="file-list">
    <div data-ng-if="!skosList.length" class="col-md-12">
        <h4>No Vocabularies</h4>
    </div>
    <div ng-repeat="skos in skosList" class="col-lg-6">
        <div data-ng-include="'skos-entry.html'">entry</div>
    </div>
    <div data-ng-show="newFileOpen">
        <div data-ng-include="'new-skos.html'">new dataset</div>
    </div>
</div>

<script type="text/ng-template" id="new-skos.html">
    <div class="aside-backdrop am-fade" style=""></div>
    <div class="aside right">
        <div class="aside-dialog">
            <div class="aside-content">
                <div class="aside-header">
                    Create a new vocabulary:
                </div>
                <div class="aside-body">
                    <form name="form" class="form">
                        <fieldset>
                            <div class="form-group">
                                <label for="new-name">Short Name</label>
                                <input id="new-name" class="form-control" data-ng-model="newDataset.specTyped" placeholder="spec" required autofocus/>
                            </div>
                            <hr/>
                            <div class="form-group">
                                <span typ="button" class="btn btn-success" data-ng-class="{ 'disabled': !newDataset.enabled }" data-ng-click="createVocabulary()">
                                    <i class="fa fa-plus"></i> <span>Create</span>
                                    <span>"{{ newDataset.spec }}"</span>
                                </span>
                            </div>
                        </fieldset>
                    </form>
                </div>
                <div class="aside-footer">
                    <button type="button" class="btn btn-default" data-ng-click="cancelNewFile()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="skos-entry.html">
    <div data-ng-controller="SkosListEntryCtrl" class="widget">
        <div class="widget-header" data-ng-click="expanded = !expanded">
            <span class="widget-icon"><i class="fa fa-book"></i></span>
            <span>{{ skos.skosSpec }}</span>
            <span data-ng-show="skos.skosName">"{{ skos.skosName }}"</span>
            <span data-ng-show="skos.skosUploadTime" class="small">
                <span>({{ skos.skosUploadTime.d }} {{ skos.skosUploadTime.t }})</span>
            </span>
            <span class="count pull-right">{{ statistics.conceptCount }} concepts</span>
        </div>

        <div class="widget-body" data-ng-show="expanded">
            <div class="tabbable dataset-tabs">
                <ul class="nav nav-tabs" role="tablist">
                    <li ng-class="{'active':tabOpen === 'metadata'}" >
                        <a href role="tab" data-ng-click="tabOpen = 'metadata'">Metadata</a>
                    </li>
                    <li ng-class="{'active':tabOpen === 'drop'}" data-ng-show="dropSupported">
                        <a href role="tab" data-ng-click="tabOpen = 'drop'">File Drop</a>
                    </li>
                    <li ng-class="{'active':tabOpen === 'align'}" data-ng-show="dropSupported">
                        <a href role="tab" data-ng-click="tabOpen = 'align'">Alignment</a>
                    </li>
                    <li ng-class="{'active':tabOpen === 'delete'}">
                        <a href role="tab" data-ng-click="tabOpen ='delete'" class="bg-danger"><i class="fa fa-trash"></i>&nbsp;</a>
                    </li>
                </ul>
                <div class="tab-content clearfix">
                    <div ng-switch="tabOpen">
                        <div ng-switch-when="metadata"><div data-ng-include="'skos-metadata-form.html'">metadata form</div></div>
                        <div ng-switch-when="drop"><div data-ng-include="'drop-file-skos.html'">drop file</div></div>
                        <div ng-switch-when="align"><div data-ng-include="'align-skos.html'">map</div></div>
                        <div ng-switch-when="delete"><div data-ng-include="'delete-skos.html'">map</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="skos-metadata-form.html" class="">
    <form name="form" class="form file-harvest">
        <fieldset>
            <div class="form-group">
                <label for="meta_name">Name</label>
                <input id="meta_name" class="form-control input-sm" data-ng-model="skos.edit.skosName"/>
            </div>
            <div class="form-group">
                <label for="meta_owner">Owner</label>
                <input id="meta_owner" class="form-control input-sm" data-ng-model="skos.edit.skosOwner"/>
            </div>
            <button type="button" class="btn btn-success btn-sm pull-right" data-ng-click="setMetadata()" data-ng-disabled="unchangedMetadata">
                <i class="fa fa-check-circle"></i>
                <span>Save</span>
            </button>
        </fieldset>
    </form>
</script>

<script type="text/ng-template" id="drop-file-skos.html">
    <div>
        <div class="file-drop col-md-12" ng-file-drop="receiveDropped($files)" ng-file-drag-over-class="file-drop-over">
            <div>Drag and drop your SKOS XML file into this area</div>
            <div data-ng-show="skos.error" class="label label-danger" style="padding: 15px">
                <i class="fa fa-exclamation-circle"></i> {{ skos.error }}
            </div>
            <div class="img-holder" data-ng-show="dataset.uploading">
                <i class="busy1 fa fa-gear fa-spin fa-5x"></i>
                <i class="busy2 fa fa-gear fa-spin-left fa-4x"></i>
                <i class="busy3 fa fa-gear fa-spin-left fa-5x"></i>
            </div>
            <div data-ng-if="skos.uploadPercent">
                <progressbar class="progress-striped active" animate="true" value="skos.uploadPercent" max="100" type="success">
                    <b>{{ skos.uploadPercent }}%</b>
                </progressbar>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="align-skos.html" class="">
    <p>Choose a vocabulary alignment:</p>
    <ul class="nav nav-pills">
        <li ng-repeat="otherSkos in skosListExcept(skos)">
            <button class="btn btn-default" data-ng-click="goToMapping(skos, otherSkos)">
                <span>{{ skos.skosSpec }}</span>
                <i class="fa fa-fw fa-book"></i>
                <i class="fa fa-fw fa-arrows-h"></i>
                <i class="fa fa-fw fa-book"></i>
                <span>{{ otherSkos.skosSpec }}</span>
            </button>
        </li>
    </ul>
</script>


<script type="text/ng-template" id="delete-skos.html">
    <div class="alert alert-danger">
        By clicking the 'Delete' button below you will remove this entire vocabulary and all its accompanying information.
        This process is <em>not</em> reversable so proceed with caution!
    </div>
    <form name="form" class="form">
        <fieldset>
            <button class="btn btn-danger" data-ng-click="deleteVocabulary(skos)"><i class="fa fa-trash"></i> Delete Vocabulary</button>
        </fieldset>
    </form>
</script>

<div class="fade" ng-file-drop-available="setDropSupported()" ng-show="!dropSupported">
    <h4>HTML5 Drop File is not supported! You need an HTML5 compliant browser.</h4>
</div>
