<div class="nav-tab">
    <a href data-ng-click="goToDataset()">Return to Dataset</a>
</div>
<div class="row">
    <div>
        <div class="col-md-6">
            <div class="panel panel-primary panel-lists">
                <div class="panel-heading">
                    <span class="panel-title">Histogram of Terms</span>
                    <div>{{path}}</div>
                </div>
                <div class="panel-body">
                    <div class="vertical-scroll" data-scrollable id="histogram-list" data-offset="165" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                        <ul class="list-group terminology-list">
                            <li data-ng-repeat="count in histogram.histogram | filter:filterText"
                                class="list-group-item clearfix test-class"  data-ng-class="{ 'list-item-selected': count[1] == selectedValue }"
                                data-ng-click="selectValue(count)">
                                <span class="node-content">{{ count[1] }}</span>
                                <span class="node-stats badge">{{ count[0] }}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-primary panel-lists">
                <div class="panel-heading">
                    <span class="panel-title">Vocabulary Browser</span>
                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h1>Soon..</h1>
                </div>
                <p data-ng-show="!selectedValue">
                    Here you will be able to browse a target vocabulary and choose an item
                    to map to the one you select on the left.
                </p>
                <p data-ng-show="selectedValue">
                    Here you will be able to look for a vocabulary entry to map from:
                    <br/>
                    <br/>
                    <br/>
                    <b>"{{ selectedValue }}"</b>
                </p>
            </div>
        </div>
    </div>
</div>

