<div class="row">

    <div class="col-md-12" style="text-align: center">
        <h1>Mapping Concept Schemes</h1>
    </div>
    <div class="col-md-12">
        <div class="col-sm-3"></div>
        <div class="col-sm-3" style="text-align: right">
            <ul class="list-unstyled">
                <li data-ng-repeat="cs in conceptSchemeList">
                    <label for="A{{$index}}">{{ cs }}</label>
                    <input id="A{{$index}}" type="radio" data-ng-model="conceptSchemes.a" data-ng-value="cs" data-ng-disabled="cs == conceptSchemes.b">
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li data-ng-repeat="cs in conceptSchemeList">
                    <input id="B{{$index}}" type="radio" data-ng-model="conceptSchemes.b" data-ng-value="cs" data-ng-disabled="cs == conceptSchemes.a">
                    <label for="B{{$index}}">{{ cs }}</label>
                </li>
            </ul>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <div class="col-md-12 fa-align-center">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <button type="button" style="width: 100%" class="btn btn-success" data-ng-click="goToMapping()" data-ng-disabled="!buttonEnabled">
                <span>{{ buttonText }}</span>
            </button>
        </div>
        <div class="col-sm-3"></div>
    </div>

    <!--todo: a button for downloading-->
</div>


