<div class="row">

    <div class="row search-all">
        <div class="col-sm-6 col-sm-offset-3">
            <div class="input-group input-group-skos-term search-all-field">
                <label class="input-group-addon"><i class="fa fa-search"></i>Search Both</label>
                <input class="form-control" type="text" data-ng-model="sought"/>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 concept-pane">
            <div class="input-group input-group-skos-term">
                <label class="input-group-addon"><i class="fa fa-search"></i> {{ conceptSchemeA }}</label>
                <input class="form-control" type="text" data-ng-model="soughtA"/>
            </div>
            <div class="concepts-list vertical-scroll" data-scrollable id="skos-term-list-a" data-offset="320" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">

                <div data-ng-repeat="concept in conceptsA" class="list-group concept-box"
                     data-ng-class="{'concept-selected': conceptA == concept, 'concept-mapped': mappingsAB[concept.uri] }">

                    <!-- MATCHTED TERM / ALT TERM -->
                    <button style="vertical-align: bottom" class="btn btn-default" tooltip="Click to map to this term..." tooltip-trigger="mouseenter" tooltip-placement="right"
                            data-ng-click="selectConceptA(concept)">
                        <span class="badge">{{ concept.proximity * 100 | number : 0 }}%</span>
                        <span class="label term-matched" data-ng-class="{ 'term-alt' : !concept.preferred }">{{ concept.label }}</span>
                    </button>

                    <!-- PREFERRED TERM -->
                    <span data-ng-show="!concept.preferred" data-ng-click="selectSoughtA(concept.prefLabel)">
                        <span class="label term-preferred"><!--&#8594;--><i class="fa fa-star"></i> {{ concept.prefLabel }}</span>
                    </span>

                    <!-- BROADER TERM -->
                    <span ng-show="concept.broader">
                        <span data-ng-repeat="b in concept.broader" data-ng-click="selectSoughtA(b)" class="broader-term">
                             <span class="label term-broader">&#8599; <!--<i class="fa fa-expand"></i>--> {{ b }}</span>
                        </span>
                    </span>

                    <!-- NARROWER TERM -->
                    <span ng-show="concept.narrower">
                        <span data-ng-repeat="n in concept.narrower" data-ng-click="selectSoughtA(n)" class="narrower-term">
                            <span class="label term-narrower">&#8600; {{ n }}</span>
                        </span>
                    </span>

                    <div class="concept-bottom">
                        <a ng-href="{{concept.uri}}" target="_blank">{{ concept.uri }}</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="input-group input-group-skos-term">
                <label class="input-group-addon"><i class="fa fa-search"></i> {{ conceptSchemeB }}</label>
                <input class="form-control" type="text" data-ng-model="soughtB"/>
            </div>
            <div class="concepts-list vertical-scroll" data-scrollable id="skos-term-list-b" data-offset="320" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">

                <div data-ng-repeat="concept in conceptsB" class="list-group concept-box"
                     data-ng-class="{'concept-selected': conceptB == concept, 'concept-mapped': mappingsBA[concept.uri] }">

                    <!-- MATCHED TERM / ALT TERM -->
                    <button style="vertical-align: bottom" class="btn btn-default" tooltip="Click to map to this term..." tooltip-trigger="mouseenter" tooltip-placement="right"
                            data-ng-click="selectConceptB(concept)">
                        <span class="badge">{{ concept.proximity * 100 | number : 0 }}%</span>
                        <span class="label term-matched" data-ng-class="{ 'term-alt' : !concept.preferred }">{{ concept.label }}</span>
                    </button>

                    <!-- PREFERRED TERM -->
                    <span data-ng-show="!concept.preferred" data-ng-click="selectSoughtB(concept.prefLabel)">
                        <span class="label term-preferred"><!--&#8594;--><i class="fa fa-star"></i> {{ concept.prefLabel }}</span>
                    </span>

                    <!-- BROADER TERM -->
                    <span ng-show="concept.broader">
                        <span data-ng-repeat="b in concept.broader" data-ng-click="selectSoughtB(b)" class="broader-term">
                             <span class="label term-broader">&#8599; <!--<i class="fa fa-expand"></i>--> {{ b }}</span>
                        </span>
                    </span>

                    <!-- NARROWER TERM -->
                    <span ng-show="concept.narrower">
                        <span data-ng-repeat="n in concept.narrower" data-ng-click="selectSoughtB(n)" class="narrower-term">
                            <span class="label term-narrower">&#8600; {{ n }}</span>
                        </span>
                    </span>

                    <div class="concept-bottom">
                        <a ng-href="{{concept.uri}}" target="_blank">{{ concept.uri }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <button type="button" style="width: 100%" class="btn btn-success" data-ng-click="toggleMapping()" data-ng-disabled="!buttonEnabled">
                <span>{{ buttonText }}</span>
            </button>
        </div>
    </div>

</div>


