<h1 class="text-center">Mapping Concept Schemes</h1>
<div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <ul class="list-unstyled text-right">
                <li data-ng-repeat="cs in conceptSchemeList">
                    <label for="A{{$index}}">{{ cs }}</label>
                    <input id="A{{$index}}" type="radio" data-ng-model="conceptSchemes.a" data-ng-value="cs" data-ng-disabled="cs == conceptSchemes.b">
                </li>
            </ul>
        </div>
        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li data-ng-repeat="cs in conceptSchemeList">
                    <input id="B{{$index}}" type="radio" data-ng-model="conceptSchemes.b" data-ng-value="cs" data-ng-disabled="cs == conceptSchemes.a">
                    <label for="B{{$index}}">{{ cs }}</label>
                </li>
            </ul>
        </div>
   </div>

    <div class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="btn btn-success btn-block" data-ng-click="goToMapping()" data-ng-disabled="!buttonEnabled">
                <span>{{ buttonText }}</span>
            </button>
        </div>
    </div>

    <!--todo: a button for downloading-->
</div>


