<div class="alert alert-dismissable alert-warning" ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Dang! HTML5 Drop File is not supported!</h4>

    <p>Go get yourself an <a href="#" class="alert-link">HTML5 compliant browser</a>.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="file-drop" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-drop-over"
             ng-show="dropSupported">
            <h6>Drag and drop your xml source file into this area</h6>
            <img ng-src="/assets/images/narthex.{{ image }}"/>
        </div>
    </div>
    <div class="col-md-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Your files:</h3>
            </div>
            <div class="panel-body file-list">
                <ul class="list-group">
                    <li ng-repeat="file in files" class="list-group-item clearfix">
                        <span data-ng-show="!file.status.complete">
                            {{ file.name }}
                        </span>

                        <span data-ng-show="file.status.complete">
                            <a href data-ng-click="viewFile(file)">{{ file.name }}</a>
                        </span>
                        <span data-ng-show="file.status">
                            <button class="btn btn-success btn-xs pull-right" data-ng-click="deleteFile(file)" data-ng-show="file.status.complete">Delete</button>
                            <code class="process" data-ng-show="file.status.index && !file.status.complete">processing</code>
                            <code class="analyze" data-ng-show="!file.status.index">analyzing {{ file.status.elements }}</code>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

