<div class="alert alert-dismissable alert-warning" ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <h4>Dang! HTML5 Drop File is not supported!</h4>

    <p>Go get yourself an <a href="#" class="alert-link">HTML5 compliant browser</a>.</p>
</div>

<div class="row">
    <div class="col-sm-4">
        <div class="file-drop" ng-file-drop="onFileSelect($files)" ng-file-drag-over-class="file-drop-over"
             ng-show="dropSupported">
            <h6>Drag and drop your xml source file into this area</h6>
            <div class="img-holder" ng-show="uploading">
                <img ng-src="/assets/images/narthex-blue.png"/>
                <i class="busy1 fa fa-gear fa-spin fa-5x"></i>
                <i class="busy2 fa fa-gear fa-spin-left fa-4x"></i>
                <i class="busy3 fa fa-gear fa-spin fa-3x"></i>
            </div>
            <div class="img-holder" data-ng-show="!uploading">
                <img ng-src="/assets/images/narthex-blue.png"/>
            </div>
            <div data-ng-if="percent">
                <progressbar animate="true" value="percent" max="100" type="success">
                    <b>{{percent}}%</b>
                </progressbar>
            </div>
        </div>
    </div>
    <div class="col-sm-8">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Your files:</h3>
            </div>
            <div class="panel-body file-list">
                <ul class="list-group">
                    <li ng-repeat="file in files" class="list-group-item clearfix">
                        <span data-ng-show="!file.status.complete">
                            {{ file.name }}
                        </span>

                        <span data-ng-show="file.status.complete">
                            <a href data-ng-click="viewFile(file)">{{ file.name }}</a>
                        </span>
                        <span data-ng-show="file.status">
                            <span data-ng-show="!file.status.index">
                                <progressbar animate="true" value="file.status.percent" max="100" type="success">
                                    <b>{{file.status.percent}}%</b>
                                </progressbar>
                            </span>
                            <button class="btn btn-danger btn-xs pull-right" data-ng-click="deleteFile(file)" data-ng-show="file.status.complete">Delete</button>
                            <code class="process" data-ng-show="file.status.index && !file.status.complete">Sorting and Counting</code>
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

