<pre>Your file: {{ fileName }}</pre>

<div class="row" ng-show="tree">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Schema</h3>
            </div>
            <div class="panel-body">
                <div class="vertical-scroll" data-scrollable id="tree-list" data-offset="300" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }" >
                <ul data-ng-controller="TreeCtrl" class="list-node">
                    <div ng-include="'node.html'" data-ng-controller="TreeNodeCtrl">tree</div>
                </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" data-ng-show="node">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <code class="path">File path: {{ node.path }}</code>
                <i class="fa fa-cloud-download"></i> <a ng-href="{{uniquePath}}" target="_blank">All Values</a>
                <i class="fa fa-cloud-download"></i> <a ng-href="{{histogramPath}}" target="_blank">Full Histogram</a>
            </div>

            <div class="panel-body view-list">

                <div class="list-controls">
                    <ul class="nav nav-pills">
                        <li data-ng-class="{ active: activeView == 'lengths' }">
                            <a href data-ng-click="fetchLengths()">Lengths</a>
                        </li>
                        <li data-ng-class="{ active: activeView == 'sample' }">
                            <a href data-ng-click="fetchSample()">Sample</a>
                        </li>
                        <li data-ng-class="{ active: activewView == 'histogram' }">
                            <a href data-ng-click="fetchHistogram()">Histogram</a>
                        </li>
                    </ul>
                </div>

                <div ng-show="node && !(sample || histogram)">
                    <div class="vertical-scroll" data-scrollable id="length-list" data-offset="410"
                         data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                        <ul class="list-group">
                            <li data-ng-repeat="count in node.lengths" class="list-group-item"
                                ng-class-odd="'odd'" ng-class-even="'even'">
                                <span>{{ count[0] }}</span>
                                <span class="badge">{{ count[1] }}</span>
                            </li>

                        </ul>
                    </div>
                    <!--<a data-ng-show="isMoreSample()" href data-ng-click="moreSample()" class="badge badge-info">MORE</a>-->
                </div>

                <div ng-show="sample">
                    <div class="vertical-scroll" data-scrollable id="sample-list" data-offset="410"
                         data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                        <ul class="list-group">
                            <li data-ng-repeat="value in sample.sample" class="list-group-item">
                                <span>{{ value }}</span>
                            </li>
                        </ul>
                    </div>
                    <a data-ng-show="isMoreSample()" href data-ng-click="moreSample()" class="badge badge-info">MORE</a>
                </div>

                <div ng-show="histogram">
                    <div class="vertical-scroll" data-scrollable id="historgram-list" data-offset="400"
                         data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                        <ul class="list-group">
                            <li data-ng-repeat="count in histogram.histogram" class="list-group-item"
                                ng-class-odd="'odd'" ng-class-even="'even'">
                                <span class="badge">{{ count[0] }}</span>
                                <span>{{ count[1] }}</span>
                            </li>
                        </ul>
                    </div>
                    <div data-ng-show="!histogram.complete">
                        <span class="badge badge-info">({{histogram.entries}}/{{histogram.uniqueCount}})</span>
                        <a href data-ng-click="moreHistogram()" class="badge badge-info"
                           data-ng-show="isMoreHistogram()">MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="node.html">
    <li>
        <span data-ng-click="selectNode(node)" class="node" data-ng-class="{ 'active': node.lengths.length!=0 }">
            {{ node.tag }} <span class="badge pull-right" data-ng-show="node.lengths.length > 0"> {{ node.count }} </span>
        </span>
        <ul ng-if="node.kids" class="">
            <li class="" data-ng-repeat="(nodeIndex, node) in node.kids" data-ng-controller="TreeNodeCtrl">
                <div ng-include="'node.html'">node</div>
            </li>
        </ul>
    </li>
</script>