<div class="nav-tab">
    <a href data-ng-click="goToDashboard()">Return to dashboard</a>
</div>


<div class="row" ng-show="tree">
    <div class="col-md-4">
        <div data-ng-if="!aligning" class="panel panel-primary panel-schema">
            <div class="panel-heading">
                <span class="panel-title">Schema: </span><span>{{ fileName }}</span>
                <div class="btn-group pull-right">
                    <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown">
                        API <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-href="{{apiPrefix}}/tree" target="_blank">JSON Tree</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="vertical-scroll" data-scrollable id="tree-list" data-offset="170" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                    <ul data-ng-controller="TreeCtrl" class="list-node">
                        <div ng-include="'node.html'" data-ng-controller="TreeNodeCtrl">tree</div>
                    </ul>
                </div>
            </div>
        </div>
        <div data-ng-if="aligning" class="panel panel-primary panel-enrich-info">
            <div class="panel-heading">
                <span>
                    <span class="panel-title">Enrichment</span>
                    <span>
                        <button class="btn btn-success btn-xs pull-right" data-ng-click="setAligning(false)">Done</button>
                    </span>
                </span>
            </div>
            <div class="panel-body">
                <div class="vertical-scroll" data-scrollable id="skos-browser" data-offset="170" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                    <p class="lead">
                        This functionality is outside of the scope of the current project, but in the future this
                        panel could contain an enrichment interface tuned to the nature of the data in the field
                        listed to the right.  Selecting an entry on the right could also give access here to
                        the records containing that value in that position in the XML.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8" data-ng-if="selectedNode">

        <div class="panel panel-default panel-lists">
            <div class="panel-heading">
                <code class="path">Node: {{ selectedNode.path }}</code>
                <!--<button class="btn btn-success btn-xs" data-ng-click="setAligning(true)" data-ng-show="!aligning">Enrich</button>-->
            </div>

            <div class="panel-body">
                <div class="navbar navbar-inverse list-controls">
                    <ul class="nav navbar-nav">
                        <li data-ng-class="{ active: activeView == 'lengths' }">
                            <a href data-ng-click="fetchLengths()">Lengths</a>
                        </li>
                        <li data-ng-class="{ active: activeView == 'sample' }">
                            <a href data-ng-click="fetchSample()">Sample</a>
                        </li>
                        <li data-ng-class="{ active: activeView == 'histogram' }">
                            <a href data-ng-click="fetchHistogram()">Histogram</a>
                        </li>
                        <li data-ng-show="activeView == 'histogram' && histogramUnique">
                            <form class="navbar-form">
                                <button class="btn btn-default" data-ng-click="setUniqueIdNode(selectedNode)" data-ng-disabled="uniqueIdNode == selectedNode">
                                    <i class="fa fa-check-circle"></i><span> Use as Unique Element</span>
                                </button>
                            </form>
                        </li>
                    </ul>
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                    <span>API </span><i class="caret"></i>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a ng-href="{{apiPath}}/unique" target="_blank">All Values</a></li>
                                    <li><a ng-href="{{apiPath}}/histogram" target="_blank">Full Histogram</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>

                <div ng-show="selectedNode && !(sample || histogram)" data-scrollable id="graph-list" data-offset="270" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                    <div>
                        <nvd3-pie-chart
                                data="selectedNode.lengths"
                                id="exampleId"
                                width="500"
                                height="500"
                                x="getX()"
                                y="getY()"
                                color="getColor()"
                                showLabels="true">
                            <svg></svg>
                        </nvd3-pie-chart>
                    </div>
                </div>

                <div ng-show="sample">
                    <div class="vertical-scroll" data-scrollable id="sample-list" data-offset="270" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                        <ul class="list-group">
                            <li data-ng-repeat="value in sample.sample | filter:filterText" class="list-group-item">
                                {{ value }}
                            </li>
                        </ul>
                    </div>

                </div>

                <div ng-show="histogram">
                    <div class="vertical-scroll" data-scrollable id="historgram-list" data-offset="270" data-ng-style="{ 'max-height': elHeight, 'min-height': elHeight }">
                        <ul class="list-group">
                            <li data-ng-repeat="count in histogram.histogram | filter:filterText" class="list-group-item">
                                <span>{{ count[1] }}</span>
                                <span class="badge">{{ count[0] }} <span class="small">({{ count[2] | number:0 }}%)</span></span>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="navbar navbar-default">
                    <div class="navbar-left sub-controls">
                        <span data-ng-if="histogram">
                            <button class="btn navbar-btn count-btn">( {{histogram.entries}} / {{histogram.uniqueCount}} )</button>
                            <button class="btn btn-primary btn-sm navbar-btn" data-ng-click="moreHistogram();scrollTo({element: '#historgram-list', direction: 'down'})" data-ng-show="isMoreHistogram()">
                                More histogram entries
                            </button>
                            <span data-ng-if="histogram.uniqueCount > 30">
                                <button class="btn btn-primary btn-sm navbar-btn" data-ng-click="scrollTo({element: '#historgram-list', direction: 'up'})">
                                    <i class="fa fa-hand-o-up"></i>
                                </button>
                                <button class="btn btn-primary btn-sm navbar-btn" data-ng-click="scrollTo({element: '#historgram-list', direction: 'down'})">
                                    <i class="fa fa-hand-o-down"></i>
                                </button>
                            </span>
                        </span>
                        <span ng-if="sample">
                            <button class="btn btn-primary btn-sm navbar-btn" data-ng-show="isMoreSample()" data-ng-click="moreSample();scrollTo({element: '#sample-list', direction: 'down'})">
                                <i class="fa fa-plus-circle"></i> More samples
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="node.html">
    <li data-ng-click="selectNode(node, $event)">
        <div class="node" data-ng-class="{ 'chosen': node.chosen, 'active': node.lengths.length != 0 }">
            <span>{{ node.tag }}</span>
            <span class="badge pull-right"
                  data-ng-class="{ 'badge-info': node.lengths.length > 0, 'badge-unique': node == uniqueIdNode, 'badge-record-root': node == recordRootNode }"
                  data-ng-click="node.collapsed = !node.collapsed"
                    > {{ node.count }} </span>
        </div>
        <ul ng-if="node.kids && !node.collapsed" class="">
            <li class="" data-ng-repeat="(nodeIndex, node) in node.kids" data-ng-controller="TreeNodeCtrl">
                <div ng-include="'node.html'">node</div>
            </li>
        </ul>
    </li>
</script>