<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.libs.logback.ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date - %coloredLevel %class{36}.%M:%L %X{akkaSource} - %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="INFO" />
  <logger name="org.OrgActor" level="INFO" />
  <logger name="analysis.Analyzer" level="INFO" />
  <logger name="analysis.Collator" level="INFO" />
  <logger name="analysis.Sorter" level="INFO" />
  <logger name="analysis.Merger" level="INFO" />
  <logger name="harvest.Harvester" level="INFO" />
  <logger name="record.SourceProcessor" level="INFO" />
  <logger name="dataset.DatasetActor" level="INFO" />
  <logger name="mapping.CategoryCounter" level="INFO" />
  <logger name="mapping.Skosifier" level="INFO" />
  <logger name="triplestore.GraphSaver" level="INFO" />
  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />
  <logger name="dataset" level="DEBUG" />

  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>
  
</configuration>
