<configuration>

  <conversionRule conversionWord="coloredLevel" converterClass="play.api.Logger$ColoredLevel" />

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date - %coloredLevel %X{akkaSource}  %class:%line- %message%n%xException{5}</pattern>
    </encoder>
  </appender>

  <logger name="akka" level="INFO" />
  <logger name="play" level="INFO" />
  <logger name="application" level="INFO" />


  <root level="ERROR">
    <appender-ref ref="STDOUT" />
  </root>

</configuration>
