<div class="jumbotron">
    <h1>NARTHEX <small>XML Analyzer</small></h1>
    <p>Get a grip on your XML!</p>
    <p><a class="btn btn-default btn-lg" href="#/login">Get started!</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Instructions</h2>

        <hr/>

        <h4>1) Prepare your XML</h4>
        <p>
            The input for Narthex is XML which is first packed in a GZIP or ZIP archive.
            The uploaded archive can contain either a single XML file or a collection of files.
        </p>

        <h4>2) Login and Upload</h4>
        <p>
            Before uploading your XML you must register/login to Narthex.
            Once logged in, all you have to do is drag the archive and drop it on the upload page.
            The analysis will begin immediately.
        </p>

        <h4>3) Explore</h4>
        <p>
            When the initial analysis is complete, you will be able to explore the tree that represents the XML structure.
            The complete analysis continues in the background, and should be complete within a few minutes.
            All values are sorted, collated and counted, and histograms are made available.
        </p>

        <h4>4) Review and Access</h4>
        <p>
            When the second phase of analysis is complete, the resulting tree and terminology lists can be explored in detail,
            and they are then also available for other software to access via the REST API.
        </p>
    </div>
</div>
