@import "variables";
@import "elements";
@import "font-awesome";


@white: #fff;
@black: #000;

body {
  margin-top: 80px;
//  background: @black;
}

.navbar-brand {
  img {
    margin-top: -5px;
    margin-right: 10px;
  }
}

.file-drop {
  background: @black;
  border: 2px dashed @gray;
  padding: @padding-base-vertical @padding-base-horizontal;
  text-align: center;
}

.file-drop-over {
  border-color: @brand-primary;
}

.file-list {
  .list-group {
    background: @gray-light;
  }
  .list-group-item {
    //    background-color: lighten(@gray-dark, 10%);
    background: @gray-lighter;
    color: @gray-dark;
    padding: 2px 6px 4px;
    margin-bottom: 1px;
    code {
      background: @white;
      &.analyze {
        color: @brand-warning;
      }
      &.process {
        color: @brand-primary;
      }
    }
    .badge {
      background: @brand-primary;
      color: @white;
    }
  }
}

.view-list {
  .list-group {
    background: @gray-light;
  }
  .list-group-item {
//    background-color: lighten(@gray-dark, 10%);
    background: @gray-lighter;
    color: @gray-dark;
    padding: 2px 12px;
    margin-bottom: 1px;
    .badge {
      background: @brand-primary;
      color: @white;
    }
  }
}

.panel-primary {
  .panel-heading {
    background: @gray;
  }
}

code {
  background: @gray-lighter;
  &.path {
    color: @brand-success;
  }
}

ul.list-node {
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}

span.node {
  border-bottom: 1px solid @gray;
  display: block;
  padding: 2px 0;
  cursor: default;
  &.active {
    cursor: pointer;
  }
}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

