@import "variables";
@import "elements";
@import "font-awesome";

body {
  margin-top: 80px;
}

.file-drop {
    border: 4px dashed @brand-info;
    padding: @padding-base-vertical @padding-base-horizontal;
    text-align: center;
}

.file-drop-over {
  border-color: @brand-warning;
}

.view-list {
  .list-group-item {
    background-color: lighten(@gray-dark, 10%);
    padding: 8px 12px;
    margin-bottom: 2px;
  }
}

code.path {
  color: @gray-darker;
}

ul.list-node {
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
}

span.node {
  border-bottom: 1px solid @gray;
  display: block;
  padding: 2px 0;
  cursor: default;
  &.active {
    cursor: pointer;
  }
}

.list-controls {
  background: lighten(@gray-dark, 10%);
  .border-radius(4px);
  margin-bottom: 20px;
  padding: 4px;

}

.vertical-scroll {
  overflow-x: hidden;
  overflow-y: auto;
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
