@import "variables";

body {
  margin-top: 60px;
}

.file-drop {
    border: 4px dashed @brand-info;
    padding: @padding-base-vertical @padding-base-horizontal;
    text-align: center;
}

.file-drop-over {
  border-color: @brand-warning;
}

.view-list {
  .list-group-item.odd {
    background-color: lighten(@gray-light, 10%);
  }
}

/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}
