@import org.webjars.play.WebJarsUtil
@import routes.Assets
@(orgId: String, sipCreatorLink: String, version: String, supportedDatasetTypes: String, commitSha: String,
  naveDomain: String, enableIncrementalHarvest: Boolean)(implicit
  assets: AssetsFinder, webJarsUtil: WebJarsUtil, req: play.api.mvc.RequestHeader)
<!DOCTYPE html>
<html>
    <head>
        <title>Narthex - @orgId </title>
        <link rel="shortcut icon" type="image/png" href="@Assets.versioned("images/favicon.png")">
        <link rel="stylesheet" media="screen" href="@Assets.versioned("css/font-awesome.min.css")">
        @webJarsUtil.locate("/bootstrap.min.css").css()
        @webJarsUtil.locate("/jquery.min.js").script()
        @webJarsUtil.locate("/bootstrap.min.js").script()
        <link rel="stylesheet" media="screen" href="@Assets.versioned("stylesheets/main.css")">
        <link rel="stylesheet" media="screen" href="@Assets.versioned("lib/ng-grid/ng-grid.css")" />
        @webJarsUtil.requireJs(routes.Assets.versioned("javascripts/main.js"))
    </head>
    <body>
        <div id="page-wrapper" class="open" ng-class="{'open': toggleBar}" ng-cloak data-ng-controller="IndexCtrl" data-ng-init="initialize('@orgId', '@sipCreatorLink', '@enableIncrementalHarvest', '@supportedDatasetTypes')">
            <!-- Sidebar -->

            <div id="sidebar-wrapper">

                <div class="sidebar">

                    <div class="sidebar-header">
                        <a href="" class="">
                            <img src="@Assets.versioned("images/delving-logo.png")" width="32"/> NARTHEX
                            <span ng-click="toggleSidebar()" class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </div>

                    <div>

                        <ul class="sidebar-nav" id="sidebar-nav">
                            <li class="sidebar-title">
                                <span>NAVIGATION</span>
                            </li>
                            <li class="sidebar-list">
                                <a href id="nav-dataset-list" class="active" data-ng-click="sidebarNav('dataset-list')">
                                    Datasets <span class="menu-icon fa fa-folder"></span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <a href id="nav-skos" data-ng-click="sidebarNav('skos')">
                                    SKOS Vocabularies<span class="menu-icon fa fa-book"></span>
                                </a>
                            </li>
                            <li class="sidebar-list">
                                <a href="{{sipCreatorLink}}" id="nav-mapper">
                                    Mapping-tool <span class="menu-icon fa fa-download"></span>
                                </a>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="sidebar-footer">
                    <div class="col-xs-12">
                        <a href="https://github.com/delving/narthex" target="_blank">
                          v. @version <!--/ @commitSha-->
                        </a>
                    </div>
                </div>
            </div>

            <!-- User dropdown -->

            <div class="user-actions">
                <span>
                    <a href="/narthex/logout"><i class="fa fa-lock fa-fw"></i> Logout</a>
                </span>
            </div>

            <!-- Main Views -->

            <div id="content-wrapper" data-nave-url="@naveDomain">
                <div class="container-fluid">
                    <div data-ng-view></div>
                </div>
            </div>

        </div>

    </body>
</html>
