@(orgId: String, sipCreatorLink: String)
<html>
    <head>
        <title>Narthex-@orgId</title>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("css/font-awesome.min.css")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" media='screen' href='@routes.Assets.at("lib/ng-grid/ng-grid.css")' />
        <script>
        @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
        </script>
        <script data-main="@routes.Assets.at("javascripts/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
    </head>
    <body>
        <header class="navbar navbar-inverse navbar-fixed-top basics-nav" data-ng-controller="HeaderCtrl" data-ng-init="setOrg('@orgId')" data-ng-cloak>
            <div class="container-fluid" data-ng-switch="!!user" data-ng-cloak>
                <a href="#/" class="navbar-brand"><img src='@routes.Assets.at("images/delving-logo.png")' width="32"/>
                    NARTHEX <small>@orgId</small>
                </a>
                <div data-ng-switch-when="true">
                    <div class="navbar-left nav-app">
                        <a href="/narthex/#/datasets" class="btn btn-primary">Datasets</a>
                        @*todo: make the appearance of this button optional*@
                        <a href="/narthex/#/categories" class="btn btn-primary">Monitor</a>
                        @*<a href="/narthex/#/thesaurus" class="btn btn-primary">Thesaurus</a>*@
                        <a data-ng-show="breadcrumbs.dataset" href="/narthex/#/dataset/{{ breadcrumbs.dataset }}" class="btn btn-primary">
                            Dataset "{{ breadcrumbs.dataset }}"
                        </a>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-user"></span> <span>{{user.email}}</span>
                                <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="" data-ng-click="logout()">
                                        <span class="glyphicon glyphicon-off"></span> Logout
                                    </a>
                                    <a href="@sipCreatorLink">
                                        <span class="glyphicon glyphicon-download"></span> SIP app
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            @*<div>*@
            @*<button class="badge" data-ng-click="trySocket()">TRY SOCKET</button>*@
            @*</div>*@
        </header>
        <div class="container-fluid" data-ng-cloak>
            <div class="main" data-ng-view></div>
        </div>
    </body>
</html>
