@(orgId: String, sipCreatorLink: String, showCategories: Boolean, showThesaurus: Boolean)
<html>
    <head>
        <title>Narthex-@orgId</title>
        <link rel='shortcut icon' type='image/png' href='@routes.Assets.at("images/favicon.png")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("lib/bootstrap/css/bootstrap.min.css")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("css/font-awesome.min.css")'>
        <link rel='stylesheet' media='screen' href='@routes.Assets.at("stylesheets/main.css")'>
        <link rel="stylesheet" media='screen' href='@routes.Assets.at("lib/ng-grid/ng-grid.css")' />
        <script>
        @Html(org.webjars.RequireJS.getSetupJavaScript(routes.WebJarAssets.at("").url))
        </script>
        <script data-main="@routes.Assets.at("javascripts/main.js")" type="text/javascript" src="@routes.Assets.at("lib/requirejs/require.js")"></script>
    </head>
    <body>

        <div id="page-wrapper" class="open" ng-class="{'open': toggleBar}" ng-cloak data-ng-controller="HeaderCtrl" data-ng-init="toggleBar = true">


        <!-- Sidebar -->
            <div id="sidebar-wrapper">
                <ul class="sidebar" sidebar-nav="active">
                    <li class="sidebar-main">
                        <a href="" class="">
                            <span data-ng-click="freshLogin()">
                                <img src='@routes.Assets.at("images/delving-logo.png")' width="32"/>
                                <span>NARTHEX</span>
                            </span>
                            <span ng-click="toggleSidebar()" class="menu-icon glyphicon glyphicon-transfer"></span>
                        </a>
                    </li>
                    @*<span data-ng-if="user">*@
                    <li class="sidebar-title"><span>NAVIGATION</span></li>
                    <li class="sidebar-list">
                        <a href="/#/datasets">Datasets <span class="menu-icon fa fa-cubes"></span></a>
                    </li>
                    @if(showCategories) {
                        <li class="sidebar-list">
                            <a href="/#/categories">Monitor <span class="menu-icon fa fa-calculator"></span></a>
                        </li>
                    }
                    @if(showThesaurus) {
                        <li class="sidebar-list">
                            <a href="/#/thesaurus">Thesaurus alignment <span class="menu-icon fa fa-exchange"></span></a>
                        </li>
                    }
                    <li data-ng-show="breadcrumbs.dataset" class="sidebar-title">
                        <span>LAST VIEWED</span>
                    </li>
                    <li class="sidebar-list" data-ng-show="breadcrumbs.dataset">
                        <a href="/#/dataset/{{ breadcrumbs.dataset }}">
                            {{ breadcrumbs.dataset }} <span class="menu-icon fa fa-eye"></span>
                        </a>
                    </li>
                    @*</span>*@
                </ul>
                <div class="sidebar-footer">
                    <div class="col-xs-4">
                        <a href="https://github.com/delving/narthex" target="_blank">
                            Github
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="https://github.com/delving/narthex/blob/master/README.md" target="_blank">
                            About
                        </a>
                    </div>
                    <div class="col-xs-4">
                        <a href="#">
                            Support
                        </a>
                    </div>
                </div>
            </div>
            <!-- End Sidebar -->
            <div id="content-wrapper">
                <div class="page-content">
                    <div class="row page-header" data-ng-init="setOrg('@orgId')"  data-ng-if="user">
                        <div class="col-xs-4">
                            <div class="meta">
                                <span class="page">{{ pageTitle }}</span>
                                <ul class="breadcrumb breadcrumb-links">
                                    <li><a href>@orgId</a></li>
                                    <!-- todo: add breadcrumbs per view -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-xs-6" id="header-options">
                            <!-- todo: dynamically add functional linkes/buttons/dropdowns/filters depending on view -->
                        </div>
                        <div class="col-xs-2" id="header-user">
                            <div data-ng-switch="!!user" data-ng-cloak>
                                <div data-ng-switch-when="true" class="user pull-right dropdown">
                                    <a href="#" class="dropdown-toggle" aria-haspopup="true" aria-expanded="false">
                                        <i class="fa fa-2x fa-user"></i>
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-left">
                                        <li class="dropdown-header">
                                            <span class="glyphicon glyphicon-user"></span> <span>{{user.email}}</span>
                                        </li>
                                        <li class="divider"></li>
                                        <li class="link">
                                            <a href="" data-ng-click="logout()">
                                                <span class="glyphicon glyphicon-off"></span> Logout
                                            </a>
                                        </li>
                                        <li class="link">
                                            <a href="@sipCreatorLink">
                                                <span class="glyphicon glyphicon-download"></span> SIP app
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="container-fluid">
                            <div data-ng-view></div>
                        </div>
                    </div>




                </div>
            </div>



        </div>


    </body>
</html>
